.nav1{
	display: inline-block; /*ბლოკის გვერდი გვერდ განთავსება*/
	vertical-align: middle; /*ვერტიკალური გასწორება: შუა;*/
	text-align: center;/*ტექსტის გაცენტრვა*/
}
.logo{
	width: 50px;
}
.nav1 {
	background-color: yellow;	
}
.a1{
	background-color: red;
}
.a2{
	color: wheat;
	background-color: green;
}
.a3{
	color: wheat;
	background-color: black;
}
.a4{
	background-color: wheat;
}
.nav1 a2 {
	color: wheat;
}
.a {
    text-decoration: none;
}
.nav1 {
	color: wheat;
	text-decoration: none;